@charset "UTF-8";

// размеры
$base-container-width: 1355px;
$base-wrapper-width: 1300px;

// шрифт
$base-font-family: 'BravoSC', sans-serif;
$base-font-size: 14px;
$base-line-height: 1.2;

// цвета
$base-color: #000;